
.page-home
  z-index: 10000

  display: flex
  flex: 1
  flex-direction: column
  justify-content: flex-end

  padding: 28px
  padding-bottom: 5.1rem

.intro__title
  margin-top: 0
  margin-bottom: 1.6rem

  text-align: left

  color: #F9F9F9
  text-shadow: 0 2px 24px rgba(255,255,255,0.30)

  font-family: FuturaNewMedium-Reg
  font-size: 66px
  line-height: 56px

.intro__p
  max-width: 165px
  margin-bottom: 2.5rem

  text-align: left

  color: #00C9DC

  font-family: FuturaNewBook-Reg
  font-size: 16px
  line-height: 20px

.pause, .pause a
  display: flex
  align-items: center

  color: #fff

.pause__text
  margin-top: 0.2rem
  margin-left: 1.4rem

  color: #FFFFFF

  font-family: FuturaNewBook-Reg
  font-size: 14px

img.moon-bg
  position: fixed
  z-index: -1
  top: 0
  left: 0
